/* Body Formatting */
* {box-sizing: border-box;}

body {
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#454c74;
}



/* Header Formatting */
header {
  height: 100%;
  background-color: #DA3030;
  padding: 0.1rem 1rem 1rem 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 140%;
}

header img{
  float:left;
  padding-right: 2rem;
  padding-top: 1.25rem;
}

header p {
  line-height: 100%;
}



/* Navigation Formating */
/* small screen */
@media only screen and (max-width: 800px){
 nav ul{
    margin:0;
    padding:0;
    list-style-type: none;
    font-size: 1.1rem;
 }

 nav a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: #fa902d;

 }

nav .active a{
    background-color: #fa902d;
    color: white;
}

}

/* large screen */
@media only screen and (min-width: 801px){
nav {
  background-color: white
}

nav ul {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  display: flex;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fa902d;
  font-weight: 700;
  font-size: 24px;
}

nav li.active a {
  border-bottom: solid 3px #fa902d;
}

nav a:hover {
  background-color: white;
  color: #fa902d;
}
}


/* Main Section Formatting */
main {
  padding: 0.5rem;
  border-radius: 5px;
}

main h1 {
    color: #fff;
    background-color:#fa902d;
    padding: 10px;
    display:inline-flex;
    border-radius: 5px;
    margin-left: 0;
}

main h2 {
    color: #fa902d;
    margin-bottom: .2rem;
}

main h3 {
  color: #fa902d;
}

main p {
    color:#454c74;
    font-weight:300;
    margin: 0;
}

main ol {
padding: .5rem 30px;
background-color: #eaeaea;
list-style-type: decimal;
}

main dl dt {
  color: #6c95be;
  font-weight: 700;
  margin-top: 1rem;
}

main dl dd {
  color:#454c74;
  font-weight:300;
}

main ul {
  list-style-type: circle;
  padding: .5rem 30px;
}

main address {
  font-weight: 400;
  background-color: #fa902d;
  padding: .5rem;
  border: 3px solid #454c74;
  width: 200px;
  border-radius: .5rem;
}


/*TABLE FORMATTING*/
table.knife {
    width: 100%;
    border-collapse: collapse;
}

table.knife th {
    background-color: #fa902d;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.knife td {
    color: #454c74;
    padding: .4rem 2vw;
}

table.knife tr:nth-child(odd) {
    background-color: #f7f7f7;
}

table.knife tr:hover{
    background-color: #f9e4d2
}

/*MEDIA FORMATTING*/ 
iframe.video {
  width: 100%; Height:600px;
}
/* IMAGE FORMATTING */
img.hero {
    width: 100%;
    margin: 0;
}

img.hero {
    width: 100%;
    height: auto;
    margin: 0;
}

figure.homepageimage {
width: 30%;
padding: 3px 3px 3px 3px;
margin: 0 0 0 2%;
float: right;
background-image: linear-gradient(to bottom, #2B4570,#7180AC, #D9DBF1);
}

figure.homepageimage img{
width: 100%;
height: auto;
}

figure.homepageimage figcaption{
    text-align: center;
    font-size: .75rem;
}


/* GALLERY */
div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure{
    margin: .5rem 2% 0 0
}

div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0rem;
}

.gallery img {
    width: 98%;
    height: auto;
}

.gallery img:hover {
    width: 98%;
    height: auto;
    box-shadow: 0px 0px 10px black;
}



/* form stuff here */

.myform fieldset {
    border: 1px solid #454c74;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend{
    color: #454c74;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea{
    display:block;
}

.myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea{
    border:solid 1px #454c74;
    padding: .3rem;
    width: 250px;
    font-family: "Lato", Sans-serif;
    font-weight: 200;
}

.myform textarea {
    height: 6rem;
}

.myform :required {
    background-color: rgba(156, 51, 53, 0.1);
}

.myform [type=submit] {
    background-color: #454c74;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem 0 0 1vw;
    color: white;
    border-radius: .3rem;
}


header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}



/* FOOTER FORMATTING*/
footer {
  background-color: #eaeaea;
  text-align: center;
  color: #333;
  clear: both;
}
