/*color pallette

parchment: #ede73e
black: #000000
yellow: #EEA81C
green: #6E7953
blue: #4A8FE7 */

* {box-sizing: border-box;}
/*BODY*/
body {
    font-family: inter, Sans-serif;
    font-weight: 300;
    color:#ede7e3;
    background-color:#000000;
}

h2.destination{
    margin: 0;
    align-items:left;
    padding-right: 800px;

}
a.link {
text-decoration:underline;
color:#ede7e3
}


h1 {
    font-size: 2rem;
}

header{
background-color: #ede7e3;
color: #000000;
padding: 10px;
font-weight: 900;
}

span {
    color: #eea81c;
}

/* GALLERY */
div.gallery {
    display: flex;
    flex-wrap: wrap;
}

div.gallery figure{
    margin-right: 5px;
    margin-left:0;
    align-items: left;
}

div.gallery figcaption{
    text-align: center;
    font-size: .8rem;
    padding: 0.5rem 0rem;
}

.gallery img {
    width: 334px;
    height: 200px;
    border-radius: 3px;
}

.gallery img:hover {
    width: 99%;
    height: auto;
    box-shadow: 0px 0px 10px #ede7e3;
}

.logo {
    float:left;
    height: 5rem;
    width: auto;
    padding-right: 1rem;
}

img.hero {
width: 40%;
padding: 3px 3px 3px 3px;
margin: 0 0 0 2%;
float: right;
}

img.packagebox {
    float:right;
    border: solid 7px #6e7953;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

div.yellowstone{
    /*background-image: linear-gradient(to bottom, #000000,#000000,#eea81c);*/
    background-color:#ede7e3;
    color:#6e7953;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-bottom: 30px;
}

div.ouray{
    background-color:#ede7e3;
    color:#6e7953;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-bottom: 30px;
}

div.sedona{
    /*background-image: linear-gradient(to bottom, #000000,#000000,#eea81c);*/
    background-color:#ede7e3;
    color:#6e7953;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    margin-bottom: 30px;
}
 div.yellowstone a, div.ouray a, div.sedona a {
    color:#eea81c;
    text-decoration:none;

 }

/*MEDIA FORMATTING*/ 
iframe.video {
  width: 100%; Height:600px;}

/* Navigation Formating */
/* small screen */
@media only screen and (max-width: 800px){
nav li{
    background-color:#6e7953;
    border: 2px solid #000000;
    border-radius: 10px;
}
    nav ul{
    padding:0;
    list-style-type: none;
    font-size: 12px;
    font-weight: 600;
 }

 nav a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: #ede7e3;

 }

nav .active a{
    color: #ede7e3;
  background-color:#000000;
}

}

/* large screen */
@media only screen and (min-width: 801px){
nav {
  background-color: #6e7953;
  /*background-image: linear-gradient(to bottom, #6e7953, #000000);*/
}

nav ul {
  margin: 0;
  padding: 0 10px;
  list-style-type: none;
  display: flex;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #ede7e3;
  font-weight: 600;
  font-size: 24px;
}

nav li.active a {
  color: #ede7e3;
  background-color:#000000;
}

nav a:hover {
 color: #ede7e3;
  background-color:#000000;
}
}

/* form stuff here */

.myform fieldset {
    border: 1px solid #ede7e3;
    border-radius: 3px;
    margin-bottom: 1rem;
    margin-left:0;
}

.myform legend{
    color: #ede7e3;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea{
    display:block;
}

.myform select, .myform [type=text], .myform [type=tel], .myform [type=email], .myform textarea{
    border:solid 1px #ede7e3;
    padding: .3rem;
    width: 500px;
    font-family: "inter", Sans-serif;
    font-weight: 200;
    font-size: 24px;
    color:#ede7e3;
}

.myform textarea {
    height: 6rem;
    background-color: #000000;
}

.myform :required {
    background-color: #000000;
}

.myform [type=submit] {
    background-color: #000000;
    border: solid 1px #ede7e3;
    padding: 1rem 2rem;
    margin: 1rem 0 2rem 1rem;
    color: #ede7e3;
    font-size: 24px;
    font-weight: 800;
    border-radius: .3rem;
}

footer{
    border-top:#ede7e3 solid 1px;
    padding-top: 5px;
}

header, nav, main, footer {
    max-width: 64rem;
    margin: 0 auto;
}